body {
    background-color: #f1f1f1;
    padding: 20px;
}

body.modal-open {
    padding-right: 20px !important;
}

.primary-bg {
    background-color: rgba(66, 133, 244, .3);
    transition: .3;
}

.warning-bg {
    background-color: rgba(241, 196, 15, .3);
}

.success-bg {
    background-color: rgba(46, 204, 113, .3);
}

.danger-bg {
    background-color: rgba(231, 76, 60, .3);
}

.white-bg {
    background-color: #fff;
}

.primary-bg, .warning-bg, .success.bg, .danger-bg, .white-bg {
    transition: .3s;
}

td, th {
    white-space: nowrap;
    vertical-align: middle !important;
}

.loader {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
}

.loader > .spinner-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader .spinner {
    width: 100px;
    height: 100px;
}

#circuitsSVG {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

path {
    z-index: -999
}

.card {
    min-width: 300px;
}

.input-card, .performance-card, .tabs-card  {
    min-width: 400px;
}

.jump-counter {
    background-color: rgba(170, 183, 184, .7);
    margin: 8px 6px 0 6px;
    padding: 7px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    text-align: center;
}

.dropdown-item {
    cursor: pointer;
}

.nav-tabs {
    background-color: rgba(0,0,0,.03);
}

.nav-link.active {
    background-color: #4285f4 !important;
    color: #fff !important;
}

.tabs-card {
    padding: 0;
}

.nav-link {
    padding: 11.5px;
    background-color: transparent;
}

.tabs {
    padding: 0;
}

.tab-content {
    margin: -1px;
}

.table-history {
    overflow: auto;
}

.tab-pane {
    max-height: 55vh;
    overflow: auto;
}

.seq-table td {
    display: inline-block;
    max-width: 70px;
    min-width: 70px;
    padding: 0;
}

.sim-controls i {
    margin: 0 30px;
    padding: 0 20px;
    font-size: 2.15em;
    font-weight: 800;
    cursor: pointer;
    transition: transform .3s alternate infinite;
}

@keyframes move {
    from {
        transform: translateX(0px)
    } to {
        transform: translateX(3px);
    } 
}

.sim-controls i:hover {
    animation: move .3s infinite alternate
}

.description-card .card-body {
    margin-top: -1px;
    padding-top: 0;
    padding-bottom: 0;
}

/* predictor card */
.l1, .l2, .hybrid {
    display: none;
}

.execution {
    overflow: auto;
}

.global-table td, .global-table th {
    font-size: 1.2em;
}

/* Hybrid */
.execution {
    background-color: rgba(255, 255, 255,.4);
    min-width: 420px;
}

.hybrid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hybrid {
    width: 500px;
    min-width: 390px;
}

.execution .card-header {
    background-color: #ffffff;
}

.predictor-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 2px solid #000000;
}

.p-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p1 {
    margin-top: 14px;
}

.p2 {
    margin-bottom: 14px;
}

.p1, .p2, .arbiter {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    transition: box-shadow .3s;
}

.p1:hover, .p2:hover, .arbiter:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.arbiter {
    background-color: #2471a3 ;
    color: #fff;
}

.arbiter-wrapper, .mux-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mux-border {
    position: relative;
    width: 76px;
    height: 156px;
    box-sizing: border-box;
    clip-path: polygon(0 0, 100% 20.5%, 100% 79.5%, 0% 100%);
    background: #000000;
}

.mux {
    position: absolute;
    top: 5px;
    left: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70px;
    height: 146px;
    background-color: #212f3c  ;
    color: #fff;
    clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
}

.mux > div {
    margin-left: 7px;
}

.result-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result {
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 50%;
}

.p-scroll {
    overflow: auto;
}